<footer>
	<div class="container">
		<ul class="footer-menu">
			<li><a href="https://www.signavio.com/jobs/?utm_campaign=TechBlog" title="Career Opportunities at Signavio">Jobs</a></li>
			<li><a href="mailto:techblog@signavio.com{% if page.title %}?subject={{ page.title | cgi_escape | replace: '+', '%20' }}{% endif %}" title="E-mail the editor">Contact/Feedback</a></li>
			<li><a href="https://www.signavio.com/legal-info/">Legal Information</a></li>
			<li><a href="https://www.signavio.com/privacy/">Privacy</a></li>
			<!-- <li><a href="" title="">Data Protection</a></li> -->
		</ul>
	</div>
</footer>
<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script>
$(document).ready(function () {
	WebFontConfig = {
		google: {
			families: ['Open Sans']
		},
		active: function() {
			$('#archive').imagesLoaded(function(){
				$('#archive').masonry({
					itemSelector: '.grid-item',
					columnWidth: '.grid-item-sizer',
					percentPosition: true,
					gutter: '.grid-item-margin'
				});
			});
		}
	};
	(function() {
		var wf = document.createElement('script');
		wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
			'://ajax.googleapis.com/ajax/libs/webfont/1.4.2/webfont.js';
		wf.type = 'text/javascript';
		wf.async = 'true';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(wf, s);
	})();
});
</script>
{% include ga.html %}
