@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

@font-face {
	font-family: 'Signavicons';
	// src:	url('../assets/fonts/Signavicons.eot?1we4ze');
	src:	url('../assets/fonts/Signavicons.woff?1we4ze') format('woff'),
			url('../assets/fonts/Signavicons.eot?1we4ze'),
			url('../assets/fonts/Signavicons.eot?1we4ze#iefix') format('embedded-opentype'),
			url('../assets/fonts/Signavicons.ttf?1we4ze') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Signavicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-corporate-logo-gazelle:before {
  content: "\eff1";
}
.icon-corporate-logo:before {
  content: "\eff0";
}
.icon-action-expand:before {
  content: "\e500";
}
.icon-action-collapse:before {
  content: "\e501";
}
.icon-action-nav-prev:before {
  content: "\e502";
}
.icon-action-nav-next:before {
  content: "\e503";
}
.icon-action-nav-slide-out:before {
  content: "\e504";
}
.icon-action-nav-slide-in:before {
  content: "\e505";
}
.icon-action-nav-level-up:before {
  content: "\e506";
}
.icon-action-remove:before {
  content: "\e512";
}
.icon-action-sign-up:before {
  content: "\e513";
}
.icon-action-search:before {
  content: "\e510";
}
.icon-action-reset:before {
  content: "\e511";
}
.icon-action-nudge-left:before {
  content: "\e51b";
}
.icon-action-nudge-right:before {
  content: "\e51c";
}
.icon-action-nudge-up:before {
  content: "\e51d";
}
.icon-action-nudge-down:before {
  content: "\e51e";
}
.icon-datatype-publicdomain-picture:before {
  content: "\e406";
}
.icon-datatype-microsoft-word:before {
  content: "\e407";
}
.icon-datatype-microsoft-excel:before {
  content: "\e408";
}
.icon-datatype-microsoft-powerpoint:before {
  content: "\e409";
}
.icon-datatype-adobe-pdf:before {
  content: "\e40a";
}
.icon-property-process-editor:before {
  content: "\e300";
}
.icon-property-decision-manager:before {
  content: "\e301";
}
.icon-property-workflow:before {
  content: "\e302";
}
.icon-property-transformation-platform:before {
  content: "\e303";
}
.icon-property-process-intelligence:before {
  content: "\e304";
}
.icon-property-trial:before {
  content: "\e305";
}
.icon-property-training:before {
  content: "\e306";
}
.icon-property-modeling-conventions:before {
  content: "\e307";
}
.icon-property-collaboration-portal:before {
  content: "\e308";
}
.icon-property-quickmodel:before {
  content: "\e309";
}
.icon-property-partner:before {
  content: "\e30a";
}
.icon-property-reference-guide:before {
  content: "\e30b";
}
.icon-property-saas-cloud:before {
  content: "\e30e";
}
.icon-property-browser:before {
  content: "\e30f";
}
.icon-property-solution-manager:before {
  content: "\e310";
}
.icon-property-api:before {
  content: "\e311";
}
.icon-property-simulation:before {
  content: "\e312";
}
.icon-property-team-collaboration:before {
  content: "\e313";
}
.icon-property-approval-workflow:before {
  content: "\e314";
}
.icon-property-decision-table:before {
  content: "\e315";
}
.icon-property-decision-table-verfication:before {
  content: "\e316";
}
.icon-property-access-rights:before {
  content: "\e317";
}
.icon-property-form-builder:before {
  content: "\e318";
}
.icon-property-connector:before {
  content: "\e319";
}
.icon-property-library:before {
  content: "\e31a";
}
.icon-property-library-apqc-classification:before {
  content: "\e31e";
}
.icon-location-home:before {
  content: "\e140";
}
.icon-lang-en:before {
  content: "\e120";
}
.icon-lang-de:before {
  content: "\e121";
}
.icon-lang-fr:before {
  content: "\e122";
}
.icon-lang-es:before {
  content: "\e123";
}
.icon-vertical-academic-institutions:before {
  content: "\e0e0";
}
.icon-vertical-banking:before {
  content: "\e0e1";
}
.icon-vertical-insurance:before {
  content: "\e0e2";
}
.icon-vertical-manufacturing:before {
  content: "\e0e3";
}
.icon-vertical-public-sector:before {
  content: "\e0e4";
}
.icon-vertical-retail-logistics:before {
  content: "\e0e5";
}
.icon-vertical-software-internet:before {
  content: "\e0e6";
}
.icon-vertical-telecommunications:before {
  content: "\e0e7";
}
.icon-vertical-utilities:before {
  content: "\e0e8";
}
.icon-vertical-insurance-health:before {
  content: "\e0ee";
}
.icon-vertical-media:before {
  content: "\e0f0";
}
.icon-channel-mail:before {
  content: "\e060";
}
.icon-channel-phone:before {
  content: "\e061";
}
.icon-channel-chat:before {
  content: "\e062";
}
.icon-channel-address:before {
  content: "\e063";
}
.icon-channel-inquiry:before {
  content: "\e064";
}
.icon-channel-share:before {
  content: "\e065";
}
.icon-channel-feed:before {
  content: "\e066";
}
.icon-channel-social-media:before {
  content: "\e067";
}
.icon-channel-support:before {
  content: "\e068";
}
.icon-channel-youtube:before {
  content: "\e06a";
}
.icon-channel-xing:before {
  content: "\e06b";
}
.icon-channel-linkedin:before {
  content: "\e06c";
}
.icon-channel-facebook:before {
  content: "\e06d";
}
.icon-channel-twitter:before {
  content: "\e06e";
}
.icon-resource-link:before {
  content: "\e020";
}
.icon-resource-download:before {
  content: "\e021";
}
.icon-resource-document-legal:before {
  content: "\e022";
}
.icon-resource-job-profile:before {
  content: "\e023";
}
.icon-resource-webinar:before {
  content: "\e024";
}
.icon-resource-release-note:before {
  content: "\e025";
}
.icon-resource-news:before {
  content: "\e026";
}
.icon-resource-event:before {
  content: "\e027";
}
.icon-resource-editorial-resource:before {
  content: "\e028";
}
.icon-resource-blog-post:before {
  content: "\e029";
}
.icon-resource-whitepaper:before {
  content: "\e02b";
}
.icon-resource-topic-bdm:before {
  content: "\e02c";
}
.icon-resource-process-compliance:before {
  content: "\e02d";
}
.icon-resource-process-performance:before {
  content: "\e02e";
}
.icon-resource-process-innovation:before {
  content: "\e02f";
}
.icon-resource-product-info:before {
  content: "\e030";
}
.icon-typo-breadcrump-separator:before {
  content: "\e007";
}
.icon-typo-square:before {
  content: "\e001";
}
.icon-typo-checkbox-empty:before {
  content: "\e002";
}
.icon-typo-checkbox-positive:before {
  content: "\e003";
}
.icon-typo-quote-opening:before {
  content: "\e005";
}
.icon-typo-quote-closing:before {
  content: "\e006";
}
.icon-typo-edge:before {
  content: "\e000";
}
.icon-download-cat-whitepaper:before {
  content: "\e02b";
}
.icon-download-cat-product-info:before {
  content: "\e030";
}
.icon-download-cat-other-resources:before {
  content: "\e028";
}
