@media (max-width: 767px) {
	header {
		.header {
			.tech-blog-logo {
				@include span(3);
			}
			.signavio-brand-logo {
				@include span (3 last);
			}
		}
	}
	main {
		.grid {
			.grid-item {
				@include span(full);
			}
			.grid-item-sizer {
				box-sizing: border-box;
				width: 100%;
			}
		}
	}
	.article main {
		.main-content,
		.side-content {
			@include span(full);
		}
		.title-content {
			h1 {
				font-size: 2em;
			}
		}
		.main-content {
			.content {
				table {
					width: span(full);
					max-width: none;
				}
			}
		}
		.side-content {
			margin-bottom: 3em;
		}
	}
}

@media (max-width: 499px) {
	header {
		.header {
			.tech-blog-logo {
				@include span(4);
			}
			.signavio-brand-logo {
				@include span (4 last);
			}
		}
	}
	main {
		.blog-intro {
			h1 {
				font-size: 2.25em;
			}
			p {
				font-size: 1.125em;
			}
		}
	}
	footer {
		.container {
			padding: 0;
		}
		height: auto;
		.footer-menu {
			height: auto;
			margin: 12px 0;
			li {
				border-right: none;
				display: block;
				padding: .75em 0;
				margin: 0;
				text-align: center;
			}
		}
	}
}
